In [38]:
from __future__ import print_function, division
import numpy as np
import scipy as sp
import pandas as pd

In [93]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

#2020-04-13 10:26:10 import libs to print final report
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

#Save and load model
import pickle

In [40]:
#column_names = np.array(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 
#                         'restecg', 'thalach', 'exang', 'oldpeak', 'slope',
#                        'ca', 'thal', 'num'])
data = pd.read_csv('dataset/heart-disease.csv')

In [41]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [42]:
data.shape

(303, 14)

In [43]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [44]:
data.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [45]:
#data_y = data.pop('target')
#data_y

In [55]:
#2020-04-12 21:24:38 
X = data.drop(columns = "target")
y = data['target']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [68]:
clf = RandomForestClassifier()

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [97]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [98]:
# Predict results,
# we pass our test data, to clf (Classifier), and get predictions, then 
# we will compare those results with with y_test, to get accuracy 

y_preds = clf.predict(X_test)
y_preds

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1])

In [99]:
clf.score(X_train, y_train)

1.0

In [100]:
clf.score(X_test, y_test)

0.7096774193548387

In [101]:
clf.score(X_test, y_preds)

1.0

In [102]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.69      0.73      0.71        15
           1       0.73      0.69      0.71        16

    accuracy                           0.71        31
   macro avg       0.71      0.71      0.71        31
weighted avg       0.71      0.71      0.71        31

In [103]:
confusion_matrix(y_test, y_preds)

array([[11,  4],
       [ 5, 11]])

In [104]:
# Final accuracy compare true results with our predictions
accuracy_score(y_test, y_preds)

0.7096774193548387

# Improve model

In [105]:
np.random.seed(40)

for i in np.arange(10, 110, 10):
    print(f" {i} n_estimators")
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, y_train)
    
    score = clf.score(X_test, y_test)
    print(f"Score: {round(score, 2)}%")

 10 n_estimators
Score: 0.71%
 20 n_estimators
Score: 0.74%
 30 n_estimators
Score: 0.74%
 40 n_estimators
Score: 0.77%
 50 n_estimators
Score: 0.74%
 60 n_estimators
Score: 0.81%
 70 n_estimators
Score: 0.77%
 80 n_estimators
Score: 0.74%
 90 n_estimators
Score: 0.74%
 100 n_estimators
Score: 0.71%

# Save model

In [95]:
pickle.dump(clf, open('random_forest_clf_v1.pkl', 'wb'))

In [ ]:
# loaded_model = pickle.load(open('random_forest_clf_v1.pkl', 'rb))